{% macro icons(page) %}

{% for x in page.extra.attachments %}
{% set path = get_url(path="attachments/" ~ x['pdf'] ~ ".pdf") %}
<a class="has-text-primary-dark" href="{{path}}" target="_blank">
  <span class="icon-text">
    <span class="icon" title="{{ page.title | title }} (pdf)">
      {% if x['kind'] == "journal" %}
      <i class="fas fa-newspaper"></i>
      {% elif x['kind'] == "proceedings" %}
      <i class="fas fa-people-roof"></i>
      {% elif x['kind'] == "submission" %}
      <i class="fas fa-paper-plane"></i>
      {% elif x['kind'] == "rolling release" %}
      <i class="fas fa-paint-roller"></i>
      {% elif x['kind'] == "slides" %}
      <i class="fas fa-person-chalkboard"></i>
      {% elif x['kind'] == "poster" %}
      <i class="fas fa-scroll"></i>
      {% else %}
      <i class="fas fa-clapperboard"></i>
      {% endif %}
    </span>
    <span class="{% if not x['slug'] %}mr-3{% endif %}">
      {{ x['kind'] }}
      {% if x['date'] %}
      <!-- <span class="icon is-small">
           <i class="far fa-calendar-alt"></i>
           </span> -->
      <span>(<time datetime="{{ x['date'] }}">{{ x['date'] | date(format='%d %b %Y') }}</time>)</span>
      {% endif %}
    </span>
  </span>
</a>
{% if x['slug'] %}
{% set slugpath = get_url(path="research/" ~ x['slug']) %}
<a class="has-text-primary" href="{{slugpath}}" target="_blank">
  <i class="fas fa-magnifying-glass-arrow-right"></i>
  <span class="{% if x['slug'] %}mr-3{% endif %}">
  </span>
</a>
{% endif %}
{% endfor %}

{% if page.extra.slides %}
<a class="has-text-primary-dark" href="{{ page.path }}slides.pdf" target="_blank">
  <span class="icon" title="slides (pdf)">
    <i class="fas fa-clapperboard"></i>
  </span>
  <span class="mr-3">
    Slides
  </span>
</a>
{% endif %}

{% if page.extra.poster %}
<a class="has-text-primary-dark" href="{{ page.path }}poster.pdf" target="_blank">
  <span class="icon" title="poster (pdf)">
    <i class="fas fa-person-chalkboard"></i>
  </span>
  <span class="mr-3">
    Poster
  </span>
</a>
{% endif %}

{% if page.extra.youtube %}
<a class="has-text-youtube" href="https://www.youtube.com/embed/{{ page.extra.youtube }}" target="_blank">
  <span class="icon" title="talk (youtube)">
    <i class="fab fa-youtube"></i>
  </span>
  <span class="mr-3">
    Youtube
  </span>
</a>
{% endif %}

{% endmacro %}
