{% extends "base.html" %}
{% block content %}
<section class="section">
  <div class="columns">
    <div class="column"></div>
    <div class="column is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-third-fullhd">
      <form
          action="https://formspree.io/f/mqkvbroj"
          method="POST"
      >
        <div class="content is-medium">
          Drop me an email
          <div class="content is-small">
            (administered by<span class="icon">
              <i class="fas fa-table-list"></i>
            </span><a href="https://formspree.io" target="_blank">Formspree</a>)
          </div>
        </div>
        <div class="field">
          <label class="label">Name</label>
          <div class="control has-icons-left">
            <input name="name" class="input" type="text" placeholder="How should I refer to you?">
            <span class="icon is-small is-left">
              <i class="fas fa-signature"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Email</label>
          <div class="control has-icons-left">
            <input name="email" class="input" type="email" placeholder="So I can respond">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Message</label>
          <div class="control">
            <textarea name="message" class="textarea" placeholder="What's on your mind?"></textarea>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <button type="submit" class="button is-link">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <div class="column"></div>
  </div>
</section>
{% endblock %}
